<%= form_tag poems_path, class: 'simple_form search mr-3 fixed-top', method: :get do %>
  <div class="search-form-control form-group">
    <%= button_tag(type: "submit", class: "btn btn-flat") do %>
      <i class="fas fa-search"></i>
    <% end %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: ' Search your poem or author !'
    %>
  </div>
<% end %>
