// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$focus-color: #75D8BD;

//button:
$blue-light : #1CB0F6 ;
$blue-dark :  #1A9AD6;
$yellow-light : #FFD334 ;
$yellow-dark :  #FFC902;
$red-light : #FD4A48 ;
$red-dark : #EA2B2B ;
