<div class="bottom-navbar">
  <div class="container">
    <div class="footer-icons">
      <div class="home-icon text-center">
      <%= link_to dashboard_path do %>
        <i class="fas fa-book"></i>
        <p>My lessons</p>
      <% end %>
      </div>
      <div class="search-icon text-center">
      <%= link_to poems_path do %>
        <i class="fas fa-search"></i>
        <p>Explore</p>
      <% end %>
      </div>
      <!-- need to change the path to recordings -->
      <div class="list-icon text-center">
      <%= link_to root_path do %>
        <i class="fas fa-microphone-alt"></i>
        <p>My recordings</p>
      <% end %>
      </div>
    </div>
  </div>
</div>
