<div class="container my-3 bg-white">
  <h1>LESSON</h1>
  <p><%= @lesson.poem.title %></p>
  <br>
  <br>
  <br>
</div>
<div class="container my-3 bg-white">
  <h1>POEM</h1>
  <p><%= @poem.title %></p>
  <br>
  <br>
  <br>
</div>
<div class="container my-3 bg-white">
  <h1>RECITE</h1>
  <p><%= @recite.lesson.poem.title %></p>
  <br>
  <br>
  <br>
</div>
<div class="container my-3 bg-white">
  <h1>USER</h1>
  <p><%= @user.first_name %></p>
  <br>
  <br>
  <br>
</div>
