<%= link_to dashboard_path do  %>
  <div id="home-page-animation">
  </div>
  <div id="cyrano-logo">
    <%= image_tag "shakespeare.svg", alt: "cyrano logo"%>
    <h1>Cyrano</h1>
    <p><em>Quelle est ma réplique ?</em></p>
  </div>
<% end %>
