.banner-cyrano {
  height: 100vh;
  text-align: center;
  background: #4BB9EC;
  color: #555555;

  p {
    font-size: 1rem;
    font-style: italic;
    color: #55555595;
  }

  h3 {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 0px;
  }
}

.logo-cyrano {
  position: relative;
  top: -60px;
}

.catch-phrase {
  position: relative;
  top: -60px;
}
