.banner-cyrano {
  height: 100vh;
  text-align: center;
  background: rgb(252,245,176);
  background: radial-gradient(circle, rgba(252,245,176,1) 0%, rgba(252,245,176,1) 6%, rgba(252,245,176,0.2819502801120448) 100%);

}
