.start-button-bg {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto;
  border: 1px solid #74D8BD80;
  background: #74D8BD;

  &.homepage {
    height: 85px;
    width: 85px;
    position: relative;
    top: -30px;
    border: 1px solid #FFCE0080;
    background: #FFCE00;
  }

  .fa-play {
    text-decoration: none;
    color: #555555;
    opacity: 0.9;
    font-size: 1rem;
    transition: all 0.1s;

    &:hover {
      text-decoration: none;
      font-size: 1.3rem;
    }
  }
}

.record-btn {
  background-color: #74D8BD;
  border-radius: 50%;
  font-size: 33px;
  color: white;
  height: 80px;
  width: 80px;
  transition: .3s ease-in-out;
  border: 0;
}

.lesson-over-btn {
  background-color: #74D8BD;
  border-radius: 50%;
  font-size: 15px;
  color: white;
  height: 40px;
  width: 40px;
  transition: .3s ease-in-out;
  border: 0;
}


.replay-btn {
  background-color: #74D8BD;
  border-radius: 50%;
  font-size: 15px;
  color: white;
  height: 40px;
  width: 40px;
  transition: .3s ease-in-out;
  border: 0;
}

.record-btn-container{
  position: sticky;
  bottom: 50px;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pause {
  background-color: rgba(232, 76, 61, 0.7);
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 25%;
  height: 60px;
  width: 60px;
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

button:focus {
  outline: none;
}


@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 4px 20px rgba(232, 76, 61, 0);}}
