.start-button-bg {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto;
  border: 1px solid #9dd8c880;
  background: #9dd8c8;

  &.homepage {
    height: 85px;
    width: 85px;
    position: relative;
    top: -30px;
    border: 1px solid #FFCE0080;
    background: #FFCE00;
  }

  .fa-play {
    text-decoration: none;
    color: #555555;
    opacity: 0.9;
    font-size: 1rem;
    transition: all 0.1s;

    &:hover {
      text-decoration: none;
      font-size: 1.3rem;
    }
  }
}
