.dashboard-container {
  // padding-left: 0px;
  // padding-right: 0px;
}



.card-poems {
  // padding-right: 10px;
  margin-top: 9px;
  border-radius: 10px 10px 10px 10px;
  width: 305px;
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  height:417px;

  a {
  text-decoration: none;
  // padding-left: 0px;
  }
}

.card-image img {
  // height: 33vh;
  // width: 100%;
  // object-fit: cover;
  // border-radius: 10px 10px 0px 0px;
}

.card-image {
  padding: 138px 0;
  background-size: cover;
  background-position: center;
  border-left: 6px solid #9dd8c8;
}

.card-description li {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-description {
  position:relative;
  justify-content: space-between;
  align-items: center;
  background: hsl(0,0%,97%);
  border-left: 6px solid #9dd8c8;
  height: 140px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.name-author {
  // padding-bottom: 10px;
  // padding-left: 20px;
}

.name-author li {
// font-size: 20px;
}

.progressions {
  // padding-right: 20px;
  // height: 100px;
  // width: 100px;
  // padding-top: 10px;
  height: 100px;
  width: 100px;
  margin-right: 14px;
  // padding-top: 10px;
}

.author-poem {
  position: absolute;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1px 16px;
  top: -11px;
  left: 15px;
  font-size: 15px;
  font-weight: bold;
  color: rgba(0,0,0,0.4);
  box-shadow: 0px 3px 0px 0 rgba(157, 216, 200, 1);
}

.title-poem {
  // position: relative;
  // top: -5px;
  // left: -7px;
  // color: #333333;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  padding-left: 2rem;
}

// .app {
//   padding: var(--gutter) 0;
//   display: grid;
//   grid-gap: var(--gutter) 0;
//   grid-template-columns: var(--gutter) 1fr var(--gutter);
//   align-content: start;
// }

// .app > * {
  // grid-column: 2 / -2;
// }

// .app > .full {
  // grid-column: 1 / -1;
// }

.hs {
  display: grid;
  grid-auto-flow: column;
  // grid-gap: calc(var(--gutter) / 2);
  // grid-template-columns: 10px;
  // grid-template-rows: minmax(150px, 1fr);
  // grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  grid-gap: 15px;
  position: relative;
  top: 222px;
  border-radius: 8px;
  height: 475px;
  // padding-bottom: calc(.75 * var(--gutter));
  // margin-bottom: calc(-.25 * var(--gutter));
}



.hs::before,
.hs::after{
  content: '';
  width: 0;
}

.header-introduction-dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;

  h1 {
    font-size: 2rem;
    color: #555555;
    font-weight: bolder;
  }

  h4 {
    font-size: 1.5rem;
    color: #555555;
  }
}

.lessons-list {

  h6 {
    font-size: 1.3rem;
    color: #555555;
    font-weight: bolder;
  }
}

.dashboard-content {
  // box-shadow: 0 -5px 5px -5px #333;
  // position: relative;
  // top: 214px;
  // border-radius: 8px;
  // height: 475px;
}

.dashboard-image {
  position: relative;

  .cyrano {
    position: absolute;
    left: 15px;
    top: 38px;
    width: 158px;
  }
  .bubble {
    position: absolute;
    top: 17px;
    right: 7px;
    width: 176px;
  }

  .greeting {
    font-size: 1.5rem;
    color: #555555;
    position:absolute;
    top: 48px;
    left: 225px;

    p {
      margin: 0
    }

    .bold{
      font-weight: bolder;
    }
  }

}

#lessons-card {
  // height: 430px;
}

.title-intro {
  position: relative;
  top: 15px;
}

.title-category {
//   position: relative;
//   top: -10px;
}

.btn-start-lesson > a {
  color: white;
}

.btn-start-lesson {
  margin: 0 auto;
  width: 100%;
  background-color: #9dd8c8;
  border: 1px solid #9dd8c8;
}

.if-lesson-empty p {
  margin: 0 auto;
  width: 100%;
}
