ul {
  list-style: none;
  padding-left: 0px;
}

.card-poems {
  border-radius: 20px;
}

.card-image img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.card-description li {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-description {
  justify-content: space-between;
  align-items: center;
  background: hsl(0,0%,97%);
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  border-left: 6px solid #40A4F4;
}

.name-author {
  padding-bottom: 10px;
  padding-left: 20px;
}

.name-author li {
font-size: 20px;
}

.progressions {
  padding-right: 20px;
}

.author-poem {
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1px 16px;
  top: -69px;
  left: -13px;
  font-size: 12px;
  font-weight: bold;
}

.title-poem {
  position: relative;
  top: 15px;
  left: -7px;
}

.app {
  display: grid;
  grid-template-columns: 0px 1fr 20px;
  overflow: scroll;
}.app > * {
  grid-column: 2 / -2;
}.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: 10px;
  grid-template-columns:repeat(7, calc(27% - 40px));
  grid-template-rows: minmax(150px, 1fr);
}

