@media(min-width: 500px) {
  .cyrano-desktop-container {
    width: 411px !important;
    margin: auto auto;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
  }

  .fixed-top {
    width: 411px;
    margin: 0 auto;
  }

  .poem-reading-container {
    height: 100vh;
  }

  .recite-image {
    height: 20vh;
  }

  #home-page-animation {
    width: inherit;
  }
}
