@media(min-width: 500px) {
  .cyrano-desktop-container {
    width: 411px !important;
    margin: auto auto;
    // height: 823px !important;
  }

  .fixed-top {
    width: 411px;
    margin: 0 auto;
  }

  .poem-reading-container {
    height: 100vh;
  }

  .recite-image {
    height: 20vh;
  }
}
