.lesson-progression {
  width: 27%;
}

.poem-img {
  padding: 150px 0;
  margin-bottom: 30px;
}

.lesson-show {
  position: relative;
}

.lesson-author {
  position: absolute;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1px 16px;
  top: 283px;
  left: 17px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
