.modal-content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 90%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  outline: 0;
  align-items: center;
  color: #86F5C2;
  // font-weight: bolder;
  border: 4px solid #FB847F;
  box-shadow: 0 5px 0 0 #FB847F;
  // border-style: outset;
  background: white;
  // background: linear-gradient(305deg, rgba(79,255,174,1) 16%, rgba(134,245,194,1) 100%);

  h4 {
    // font-weight: bolder;
    font-size: 1.6rem;
    color: #777777;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  justify-content: center;
  transform: none;
}

.modal-header {
  // color: white;
  border-bottom: 0px;
  padding: 15px 0 0 0;
}

.modal-body {
  // color: white;
  font-size: 1.5rem;
  margin: 0;
}

.star {
  width: 70px;
  height: 50px;
  background: url('https://cssanimation.rocks/images/posts/steps/twitter_fave.png') no-repeat;
  top: 0;
  position: absolute;
  left: 10%;
  z-index: 12;
  animation: play .8s steps(55) infinite;
  &.star2 {
    left: auto;
    right: 10%;
    animation-delay: 1s;
  }
  &.star3 {
    left: auto;
    top: 23%;
    right: 1px;
    border-radius: 50%;
    // animation-delay: 1s;
  }
  &.star4 {
    top: 23%;
    left: 1px;
    border-radius: 50%;
  }
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -3519px;
  }
}



