.poem-reading-container {
  position: relative;
  height: 80vh;
  background: white;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
  margin-top: -90px;
}

.container-next-btn {
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;

  .button-back {
    background-color: #9DD8C8;
    border-color: #9DD8C8;
    margin-right: 1rem;

    i {
      color: #FFFFFF;
    }
  }

  .button-back:active, .button-back:hover {
    background-color: #9DD8C8;
    border-color: #9DD8C8;

    i {
      color: #FFFFFF;
    }
  }
}

.start-container {

  .start-button-bg {
    position: relative;
    top: 50px;
  }

  p {
    position: relative;
    top: 50px;
  }
}

.reading-icon {
  position: relative;
  left: 30px;
}

.poem-reading-content {
  height: 45vh;
  padding: 1rem;
  margin-top: 10%;
  overflow: auto;
}

.poem-reading-title {
  font-weight: bolder;
  font-size: 1.4rem;
}

.poem-reading-line {
  opacity: 1;
  font-size: 1.4rem;
  color: #333333;
  transition: all 0.3s;
}

.poem-reading-line-hidden {
  font-size: 1rem;
  opacity: 0.05;
  transition: all 0.3s;
}

.poem-reading-line-viewed {
  font-size: 1rem;
  opacity: 0.4;
  transition: all 0.3s;
}

#reading-progress-bar {
  width: 50%;
  margin: 0 auto;
}
