.poem-reading-container {
  position: relative;
  height: 72vh;
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  margin-top: -130px;
}

.container-next-btn {
  text-align: center;
  margin-top: 14px;
  display: flex;
  justify-content: center;

  .button-back, .button-next {
    color: #fff;
    text-align: center;
    border-radius: 4px;
    border :0;
    margin-right: 1rem;

    &.blue {
      background-color: #1CB0F6;
      box-shadow: 0 5px 0 0 #1999D6;
    }
  }

  .button-back:active, .button-back:hover,
  .button-next:active, .button-next:hover {

    &.blue{
      background-color: #1CB0F6;
      box-shadow: 0 3px 0 0 #1999D6;
      transform: translateY(3px);
    }


    &.yellow{
      background-color: #FFD334;
      box-shadow: 0 3px 0 0 #FFC902;
      transform: translateY(3px);
    }
  }
}

.reading-highlight {
  font-size: 2rem;
  padding-top: 0.2rem;
  text-align: center;
  // color: #333333;

}

.start-container {

  .start-button-bg {
    position: relative;
    top: 50px;
  }

  p {
    position: relative;
    top: 50px;
  }
}

.reading-icon {
  position: relative;
  left: 90px;
  top: -40px;
}

.poem-reading-content {
  height: 35vh;
  padding: 1rem;
  margin-top: 10%;
  overflow: auto;
}

.poem-reading-title {
  font-size: 1.4rem;
}

.poem-reading-line {
  opacity: 1;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.poem-reading-line-hidden {
  font-size: 1.1rem;
  opacity: 0.05;
  transition: all 0.3s;
}

.poem-reading-line-viewed {
  font-size: 1.2rem;
  opacity: 0.4;
  transition: all 0.3s;
}

#reading-progress-bar {
  width: 50%;
  margin: 0 auto;
}
