.card-product {
  overflow: hidden;
  height: fit-content;
  background: white;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1.5px solid #ddd;
}

a:hover, a:active {
  text-decoration: none;
  color: #333333;
}

.card-product img {
  height: 80%;
  width: 85px;
  object-fit: cover;
  padding: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  color: #777777;
}

.card-container h2 {
  margin: 0px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 5px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 10px;
  width: 100%;
}
.on {
color: gray-dark;
}

.off {
color: gray;
}

.card-container {
  margin-top: 62px;
}

.card-product-infos {
  p {
    font-size: 0.9rem;
    line-height: 1.4;
    opacity: .7;
    color: #555555;

    .fa-user-graduate {
      margin-right: 0px;
    }
  }
}

.card-product-infos a {
  color: gray;
  text-decoration: none;
  background-color: transparent;
}

.card-index__in-progress {
  background-color: #FFC634;
  padding: 0rem 0.3rem;
  border-radius: 3px;
  color: white !important;
}

.card-index__complete {
  background-color: #74D8BD;
  padding: 0rem 0.3rem;
  border-radius: 3px;
  color: white !important;

  .fa-award {
    margin-left: 0.5rem;
    font-size: 1rem;
    color: hsla(9,82%,50%,100%);
  }
}

