.poem-background {
  background: #FFFFFF;
  height: 100vh;
  overflow: scroll;
}

.poem-show-cards {
  position: relative;
  top: -99px;
}

.poem-description {
  box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
  background: #FFFFFF;
  padding: 1rem 1rem 0rem 1rem;
  border-radius: 0.2rem;

  h1 {
    font-size: 1.7rem;
    color: #555555;
  }
}
.poem-image {
  opacity: 0.89;
}

.poem-image::after {
  // transform: scaleY(-1);
}

.poem-infos__icons {
  p {
    // font-size: 1.15rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    // color: #555555;
  }
}

.poem-difficulty-list {
  margin-right: 0.5rem;
}

.poem-infos__start-lesson {

  p {
    margin: 0;
  }
}

.fa-feather-alt {
  padding: 0.3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  color: #74D8BD;
}

.fa-align-justify {
  padding: 0.3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  color: #74D8BD;
}

.fa-user-graduate.on {
  padding: 0.3rem;
  color: #74D8BD;
  margin-right: 0.3rem;
}

.easy-difficulty {
  background-color: #74D8BD;
  padding: 0rem 0.2rem;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.medium-difficulty {
  background-color: #FFC634;
  padding: 0rem 0.2rem;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.hard-difficulty {
  background-color: hsla(9,82%,50%,100%);
  padding: 0rem 0.2rem;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.poem-author-list {
  box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  background: #FFFFFF;
  border-radius: 0.2rem;

  h3 {
    font-size: 1.2rem;
    // color: #555555;
    margin-bottom: 0px;
  }

  p {
    // font-size: 1rem;
    margin-bottom: 0px;
  }

  a {
    color: #777777;
  }

  .fa-greater-than {
    color: #555555;
    font-size: 0.6rem;
  }

  ul {
    padding-left: 0px;
  }

  .fa-chevron-right {
    color: $focus-color;
  }
}

.author-poem-title {
  border-bottom: 0.5px solid #ddd;
  // border-radius: 0.2rem;
}

.shelf {
  height: 20px;
  background-size: cover;
  background-position: 0px 120px;
  width: 100%;
  opacity: 0.89;
  // background-image: url(bookshelf.svg);
}
