.line {

  margin-bottom: 10px;

  p {
    margin: 0;
  }

  .content-line{
    color:rgba(0,0,0,0.6);
  }

  .recite-line{
    color:#79C25B;
  }

}

.sticky-record-btn {
    // min-height: calc(20vh);
}


.recites-container {
  padding: 1rem;
  box-shadow: 0 -5px 5px -5px #DDDDDD;
  height: 74vh;
  background: white;
  z-index: 0;
  margin-top: -100px;

  h1 {
    font-size: 2rem;
    color: #555555;
    font-weight: bolder;
}
  p {
    font-size: 1.3rem;
    color: #555555;
    font-weight: bolder;
  }
}


.recite-image {
  z-index: -1;
  position: relative;
  padding-top: 4px;
}
