.line {

  margin-bottom: 10px;

  p {
    margin: 0;
  }

  .content-line{
    color:rgba(0,0,0,0.6);
  }

  .recite-line{
    color:#999999;
    font-size: 1.4rem;
    line-height: 1.7;
  }
}

#poem-content {
  height: 34vh;
  overflow: auto;
}

.sticky-record-btn {
  height: 56vh;
}


.recites-container {
  padding: 1rem;
  box-shadow: 0 -5px 5px -5px #DDDDDD;
  background: white;
  z-index: 0;
  height:calc(70vh - 60px + 105px);

  h1 {
    font-size: 2rem;
  }
}

.recite-title{
  p {
    font-size: 1.4rem;
  }
}

.recite-image {
  height: calc(30vh - 60px - 55px);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center -1%;
}

#recite-progress-bar {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
